#contact {}

h1 {
  font-size: 6em;
  letter-spacing: .15em;
}

h3 {
  margin-top: 10px;
}

.container h3 {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 40px;
}

p {
  font-size: 1.35em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  outine: none;
}

a:focus {
  text-decoration: none;
  outline: none;
  outline-offset: 0;
}

#Home {
  background-color: #2766af;
  color: white;
}

#name {
  margin-top: 50px;
  letter-spacing: .65em;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#connect-buttons {
  margin-bottom: 60px;
}

.btn {
  transition: all .12s linear;
}

.btn:hover,
.btn:focus,
.btn:active {
  outline: 0;
  outline-offset: 0;
}

.connect-btn {
  color: white;
  background-color: #2766af;
  border: 2px solid white;
  font-weight: 600;
}

.connect-btn:hover {
  background-color: white;
  color: #2766af;
  border-color: #2766af;
}

.connect-btn:focus {
  color: white;
  background-color: #2766af;
  border: 2px solid white;
}

.navbar {
  height: 65px;
  background-color: white;
  box-shadow: 0 2px 0 #2766af;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  transition: all .12s linear;
}

.navbar.scrolled-nav {
  box-shadow: none;
}

.nav-col {
  height: 100%;
}

.on-section {
  background-color: #2766af !important;
  color: white !important;
}

.on-section.scrolled-nav {
  background-color: white !important;
  color: #2766af !important;
}

.nav-btn {
  border-radius: 0;
  border: none;
  background-color: white;
  color: #2766af;
  height: 100%;
}

.nav-btn:hover {
  background-color: #2766af !important;
  color: white !important;
}

.nav-btn:focus {
  background-color: white;
  color: #2766af;
}

.nav-btn.scrolled-nav:focus {
  background-color: #2766af;
  color: white;
}

.nav-btn.scrolled-nav:hover {
  background-color: white !important;
  color: #2766af !important;
}

#home-btn {
  background-color: #2766af;
  color: white;
}

.scrolled-nav {
  background-color: #2766af;
  color: white;
}

.nav-txt {
  font-weight: 600;
  font-size: 1.1em;
}

#logo-button {
  margin-left: -15px;
  /*correct col padding*/
  padding-left: 20px;
  padding-right: 25px;
  font-size: 2em;
  font-weight: 700;
}

#mobile-nav {
  padding: 0px;
}

#about {
  padding-top: 55px;
}

#pic_of_me {
  border: 5px solid #2766af;
}

.line {
  border-width: 3px;
}

.container .line {
  border-color: #2766af;
  margin-top: 75px;
  margin-bottom: 75px;
}

#padding-helper {
  padding-left: 15px;
  padding-right: 15px;
}

#gallery {
  margin-bottom: 30px;
}

.port-tile {
  padding: 0px;
}

.port-tile a {
  z-index: 0;
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  padding: 0;
  transition: all .12s ease;
}

.port-tile a:hover {
  z-index: 10;
  transform: scale(1.12, 1.12);
  box-shadow: 0px 0px 10px 0px black;
}

.caption {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  max-height: 85px;
  width: 100%;
  padding: 6px !important;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  overflow: hidden;
}

.caption h4 {
  color: white;
  font-size: 1.33em;
  margin-top: 0px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
}

.tech-used {
  color: white;
  font-size: 1em;
  font-style: italic;
  margin-bottom: 0px;
  text-overflow: ellipsis;
}

#closing-tag {
  margin-top: 300px;
}


/*tablet portrait*/

@media (max-width: 860px) {
  h1 {
    font-size: 4em;
  }
  .container p {
    font-size: 1.2em
  }
}


/*phone landscape*/

@media (max-width: 590px) {
  h1 {
    font-size: 2.5em;
  }
  #name {
    margin-top: 10px;
    letter-spacing: .18em;
  }
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.0em;
  }
  #Home .line {
    border-width: 2px;
  }
  #Home p {
    font-size: 1em;
  }
  .connect-btn {
    font-size: .8em;
  }
  #connect-buttons {
    margin-bottom: 15px;
  }
  .navbar {
    height: 50px;
  }
  #logo-button {
    font-size: 1.35em;
  }
  .nav-txt {
    font-size: 1.4em;
    font-weight: 100;
  }
  .container p {
    font-size: 1.1em
  }
  #about {
    padding-top: 25px;
  }
  .container h3 {
    font-size: 1.35em;
    margin-bottom: 15px;
  }
  .container .line {
    margin-top: 20px;
    margin-bottom: 20px
  }
  .port-tile a {
    margin-bottom: 0px;
  }
  .port-tile a:hover {
    outline-offset: 0;
    box-shadow: none;
    transform: none;
  }
  .caption h4 {
    font-size: 1.1em;
  }
  .caption .tech-used {
    font-size: .8em;
  }
  #closing-tag {
    margin-top: 75px;
  }
}


/*phone portrait*/

@media (max-width: 400px) {
  h1 {
    font-size: 1.8em;
  }
}